body {
	font-family: "Lato", Arial, sans-serif;
}

.container {
	display: table;
	margin: 0 auto;
}

#map {
	float: left;
	margin: auto 10px;

	/* disable click highlighting */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#key {
	float: right;
}

.key {
	/* a tile, except without the js functionality */
	/* since the jquery looks for tiles */
	height: 20px;
	width: 40px;
}

#info {
	text-align: center;
}

.tile {
	height: 20px;
	width: 40px;
	background-color: #585e50;
	display: inline-block;
}

.blank {
	background-color: #afb3b1;
}

.normal {
	background-color: #61665a;
}

.treasure {
	background-color: #ffd587;
}

.store {
	background-color: #c79f50;
}

.boss {
	background-color: #fa2e05;
}

.library {
	background-color: #c8cfae;
}

.arcade {
	background-color: #784241;
}

.challenge {
	background-color: #3d3d47;
}

